* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100%;
    height: 75px;

}
a {
    text-decoration: none;
    cursor: pointer;
}
header nav {
    display: flex;
    justify-content: flex-end;
}
header nav .menu-derecho {
    width: 200px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav .menu-derecho a {
    margin-right: 16px;
    color: black;
}
nav .menu-derecho .Icono {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
}
nav .menu-derecho img {
    border-radius: 50%;
    margin-left: 10px;
}
main {
    margin-top: 150px;
    text-align: center;
}
main .logo {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .logo img {
    width: 300px;
}
main .contenedor {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .central {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .central input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}
main .central:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
main .contenedor .busqueda {
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 16px;
    height: 16px;

}
main .contenedor .micro {
    background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
main .botones {
    width: 530px;
    margin: 0 auto;
}
main .botones div {
    display: inline-block;
}
main .botones button {
    height: 36px;
    background-color: #f2f2f2;
    border: 0;
    font-size: 16px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 16px;
}
main .botones button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #000001;
    color: #222;
}
footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #e2e2e2;
}
footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}
footer .izqierda {
    justify-self: left;
}
footer .derecha {
    justify-self: right;
}
footer ul li a {
    margin: 10px;
    color: #5f6368;
}